<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">

		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="la la-arrow-circle-o-up"></i>
					<p>Siteye Git</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Category/Index">
					<i class="la la-dashboard"></i>
					<p>Kategoriler</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Product/Index">
					<i class="la la-dropbox"></i>
					<p>Ürünler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Comment/Index">
					<i class="la la-bullseye"></i>
					<p>Yorumlar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/FeatureSlider/Index">
					<i class="la la-arrows"></i>
					<p>Ana Sayfa Slider</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/SpecialOffer/Index">
					<i class="la la-cc-visa"></i>
					<p>Ana Sayfa İndirim</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Feature/Index">
					<i class="la la-at"></i>
					<p>Ana Sayfa Özellikler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/FeatureProduct/Index">
					<i class="la la-eye"></i>
					<p>Ana Sayfa Öne Çıkan Ürünler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/OfferDiscount/Index">
					<i class="la la-hand-o-down"></i>
					<p>Ana Sayfa Özel İndirim</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Brand/Index">
					<i class="la la-diamond"></i>
					<p>Ana Sayfa Markalar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Contact/Index">
					<i class="la la-commenting-o"></i>
					<p>Gelen Mesajlar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Admin/Message/InBox">
					<i class="la la-commenting-o"></i>
					<p>Şirket İçi Mesajlar</p>
				</a>
			</li>

		</ul>
	</div>
</div>