
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>

	<div class="wrapper">

		@await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

		@await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">			
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								@RenderBody()
							</div>
						</div>
					</div>
				</div>
			</div>

			@await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
		</div>

	</div>
		
</body>

@await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
</html>
    