@model CreateSpecialOfferDto
@{
    ViewData["Title"] = "CreateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">

	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">İndirim  Ekleme</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="squareInput">Başlık</label>
					<input type="text" class="form-control input-square" id="squareInput" asp-for="Title" placeholder="Başlık">
				</div>

				<div class="form-group">
					<label for="squareInput">Açıklama</label>
					<input type="text" class="form-control input-square" id="squareInput" asp-for="SubTitle" placeholder="Alt Başlık">
				</div>

				<div class="form-group">
					<label for="squareInput">Görsel</label>
					<input type="text" class="form-control input-square" id="squareInput" asp-for="ImageUrl" placeholder="Görsel Yolu">
				</div>

			</div>
			<div class="card-action">
				<button class="btn btn-success">Kaydet</button>
			</div>
		</div>

	</div>

</form>

